.user-info {
    width: 320px;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-name {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: 18px;    
    text-align: center;
    margin-top: 5px;
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.contacts-search-bar {
    display: flex;
    flex-direction: row;
    width: 300px;
    border-color: white;
    justify-content: center;
    margin-left: 10px;
}

.search-input > input {
    width: 280px;
    height: 24px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    text-indent: 10px;
}

.search-input > input:focus {
    border-color: rgb(43, 82, 255);
}

.contacts-statictis {
    width: 280px;
    height: 15px;
    text-align: left;
    text-indent: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}
